<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ActivosFijos.Integration.DMiro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TopazMiddleWareWSBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.22.2.69:8280/jbankws/services/TopazMiddleWareWS"
                binding="basicHttpBinding" bindingConfiguration="TopazMiddleWareWSBinding"
                contract="WSDMiro.TopazMiddleWareWS" name="TopazMiddleWareWSPort" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><applicationSettings>
        <ActivosFijos.Integration.DMiro.Properties.Settings>
            <setting name="ActivosFijos_Integration_DMiro_WRDmiro_TopazMiddleWareWSService"
                serializeAs="String">
                <value>http://172.22.2.69:8280/jbankws/services/TopazMiddleWareWS</value>
            </setting>
        </ActivosFijos.Integration.DMiro.Properties.Settings>
    </applicationSettings>
</configuration>
