<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TopazMiddleWareWSBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.22.2.69:8280/jbankws/services/TopazMiddleWareWS" binding="basicHttpBinding" bindingConfiguration="TopazMiddleWareWSBinding" contract="WSDMiro.TopazMiddleWareWS" name="TopazMiddleWareWSPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
