<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ActivosFijos.Modulo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
          <section name="MessageEncryption" type="ArtisanCode.SimpleAesEncryption.SimpleAesEncryptionConfiguration, ArtisanCode.SimpleAesEncryption"/>
        </sectionGroup>
        
    </configSections>
    <connectionStrings>
        <add name="ActivosFijos.Modulo.My.MySettings.activosfijosConnectionString"
            connectionString="Data Source=(local);Initial Catalog=activosfijos;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  
    <userSettings>
        <ActivosFijos.Modulo.My.MySettings>
            <setting name="ciudadactual" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="impresoraetiquetas" serializeAs="String">
                <value />
            </setting>
            <setting name="ejecutablecreatealabel" serializeAs="String">
                <value />
            </setting>
            <setting name="tipoprogramacodigobarra" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExpDa" serializeAs="String">
                <value />
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="EsAlquiler" serializeAs="String">
                <value>True</value>
            </setting>
        </ActivosFijos.Modulo.My.MySettings>
      
        <MessageEncryption>
          <EncryptionKey KeySize="256" Key="lzcHL+9tOJ65PTM1FBUlqfPUFBHfvzJBwIHNx0O2Tqc="/>
        </MessageEncryption>
      
    </userSettings>
  
  
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TopazMiddleWareWSBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.22.2.69:8280/jbankws/services/TopazMiddleWareWS"
                binding="basicHttpBinding" bindingConfiguration="TopazMiddleWareWSBinding"
                contract="WSDMiro.TopazMiddleWareWS" name="TopazMiddleWareWSPort" />
        </client>
    </system.serviceModel>
</configuration>
